body {
    font-family: arial,sans-serif;
    color: #6C6B6B;
    background-color: rgb(252, 252, 253);
}

#root {
    max-width: 100vw;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.pointer {
  cursor: pointer;
}

input, button {
  &:active, &:focus {
    outline: none;
  }
}

.header-tabs {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-left: 10rem;
  @media(min-width: 1200px) {
    padding-top: 4.75rem;
  }
  @media(max-width: 1199px) {
    padding-left: 1rem;
    box-shadow: 0px 7px 6px -5px #DFE1E5;
    border-bottom: none;
  }
  .menus {
    display: flex;
    justify-content: space-between;
    width: 38vw;
    @media(max-width: 1199px) {
      width: 95%;
    }
    @media(max-width: 600px) {
      overflow-x: scroll;
    }
    span {
      color: #333;
      font-size: 0.8125rem;
    }
    .others {
      @media(max-width: 600px) {
        display: none;
      }
    }
    .tabs, .others {
      display: flex;
      justify-content: flex-start;

      .tab {
        margin-right: 0.5rem;
        padding: 0.25rem 0.35rem;
        transition: all 0.125s;
        &.active {
          border-bottom: 2px solid rgb(22, 112, 230);
          span {color: rgb(22, 112, 230);}
        }
        img {
          @media(max-width: 1199px) {
            display: none;
          }
          width: 11px;
          height: 11px;
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.sticky-header {
  position: absolute;
  width: 100%;
  .header-container  {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
  }
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  z-index: 1;
  &.right {
    justify-content: flex-end;
  }
  &.results {
    padding: 1rem;
    @media (min-width: 1200px) {
      position: fixed;
      top: 0;
      left: 0;
    }
    .search {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      .logo {
        margin-right: 1.5rem;
        img {
          width: 90px;
          height: 30px;
        }
      }
    }
    .menu-items {
      padding: 0;
    }
  }
  .menu-items {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    .links {
      padding-right: 0.75rem;
      a {
        font-size: 0.875rem;
        color: #222;
        font-weight: 300;
        margin-right: 0.875rem;
        &:hover {
          color: #555;
        }
      }
    }
    .icon {
      img {
        margin-right: 0.875rem;
        width: 14px;
        height: 14px;
        &.user {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }
}

.search-sm {
  @media(min-width: 1200px) {
    display: none;
  }
}

.search-bar {
  width: 100%;
  margin: 1.25rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &.results {
    margin: 0;
    width: 40vw;
    .search-input {
      width: 100%;
      input {
        height: 38px;
      }
    }
    @media(max-width: 1199px) {
      display: none;
    }
  }
  .search-input {
    width: 80%;
    @media(min-width: 1200px) {
      width: 40%;
    }
    @media(max-width: 767px) {
      width: 95%;
    }
    input {
      background: #FFFFFF;
      border: 1px solid #e1e2e4;
      height: 45px;
      border-radius: 1.5rem;
      width: 100%;
      padding: 1rem 3rem;
      transition: all 0.25s;
      &:hover, &:focus {
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
        border-color: #f1f1f1;
      }
      &.results {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .search-icon {
    img {
      position: relative;
      width: 18px;
      height: 18px;
      &.left {
        left: 2rem;
      }
      &.right {
        right: 2rem;
      }
    }
  }
}

.search-container {
  margin-top: 9%;
  .main-logo {
    img {
      width: 180px;
      height: auto;
      @media(min-width: 1200px) {
        width: 244px;
      }
    }
  }
  .divider {
    width: 35%;
    margin: auto;
    border-bottom: 1px solid #f4f4f4;
  }
  .search-results {
    width: 60%;
    @media(min-width: 1200px) {
      width: 40%;
    }
    @media(max-width: 767px) {
      width: 90%;
    }
    position: relative;
    bottom: 1.6rem;
    transition: all 0.125s ease-in;
    .results {
      padding-top: 0.75rem;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
      border-radius: 0 0 1.25rem 1.25rem;
      z-index: 9;
      ul {
        padding-left: 0;
        list-style: none;
        li {
          width: 100%;
          display: flex;
          padding: 0.5rem 1rem;
          align-items: center;
          &:hover {
            background-color: #f4f4f4;
            cursor: default;
          }
          img {
            width: 18px;
            height: 18px;
            margin-right: 1rem;
          }
          span {
            font-weight: 600;
            color: #333;
            @media(max-width: 900px) {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
  .other-actions {
    margin-bottom: 1.5rem;
    button {
      color: #555;
      background-color: #f4f4f4;
      border: none;
      height: 32px;
      font-size: 0.8125rem;
      padding: 0 1.125rem;
      border-radius: 0.25rem;
      margin-right: 1rem;
      transition: all 0.125s ease-in-out;
      &:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border: 0.5px solid #c6c6c6;
        color: #222;
      }
    }
  }
  .offers {
    font-size: 0.8125rem;
    color: #333;
    span, a {
      margin-right: 0.35rem;
    }
    a {
      color: rgb(38, 25, 182);
      &:visited {
        color: rgb(104, 6, 153);
      }
    }
  }
}

.results-container {
  margin: 1.5rem 0;
  margin-left: 10rem;
  width: 40vw;
  @media(max-width: 1199px) {
    width: 95%;
    margin-left: 1rem;
  }
  .response-time {
    margin: 1.25rem 0 0;
    color: #73787c;
    font-size: 0.8125rem;
  }
  .results {
    .each-result {
      position: relative;
      margin: 1.5rem 0;
      @media(max-width: 1199px) {
        padding: 1rem 0.75rem 1rem;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-radius: 0.25rem;
        width: 95%;
        margin-right: auto;
      }
      a {
        .b-crumb {
          position: absolute;
          top: 0;
          left: 0;
          @media(max-width: 1199px) {
            left: 1rem;
            top: 0.25rem;
          }
          cite {
            font-size: 0.75rem;
            color: #3C4043;
            font-style: normal;
          }
          img {
            width: 7px;
            height: 8px;
            margin-left: 0.25rem;
          }
        }
        h3 {
          color: rgb(24, 10, 177);
          font-size: 1.125rem;
          padding: 1.5rem 0 0.25rem;
          font-weight: 400;
          margin: 0;
        }
      }
    }
    .description {
      color: #343434;
      font-size: 0.8125rem;
    }
  }
  .related {
    h2 {
      margin: 1.5rem 0;
      font-weight: 400;
      color: #333;
      font-size: 1.25rem;
    }
    .related-group {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .rel {
        display: block;
        font-size: 0.8125rem;
        color: #1A0DAB;
        font-weight: 600;
        width: 45%;
        margin-bottom: 0.25rem;
        padding-right: 3%;
      }
    }
  }
  .misc-container {
    margin: 1.5rem 0 0;
    .footer-logo, .pagination {
      margin-left: 12rem;
      @media(max-width: 1199px) {
        margin-left: 1rem;
      }
      a {
        font-size: 0.75rem;
        margin-right: 0.5rem;
        color: rgb(38, 25, 182);
        &.next {
          margin-left: 1.5rem;
        }
      }
      span {
        font-size: 2.25rem;
        font-weight: 500;
        font-stretch: semi-condensed;
        &.blue {color: #4c8bf4}
        &.green {color: #33a853}
        &.gold {color: #fbbc03}
        &.red {color: #ea4335}
      }
    }
  }
}

.footer-container {
  width: 100%;
  &.fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .footer {
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
    background-color: #f2f2f2;
    color: #555;
    &.bottom {
      border-top: 1px solid #e2e2e2;
      @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
      .footer-menu {
        @media(max-width: 767px) {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 1rem;
        }
        a {
          font-size: 0.8125rem;
          color: #555;
          margin-right: 0.75rem;
          @media(max-width: 767px) {
            display: block;
            margin-top: 0.75rem;
          }
        }
      }
    }
  }
}


// 0 1px 6px 0 rgba(32,33,36,.28)